# Python
.venv*/
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/

# Données et artefacts
data/
mlruns/
models/
artifacts/
artifacts_local/

# Fichiers lourds
*.csv
*.h5
*.pt
*.pth
*.bin
*.keras
*.tflite
*.safetensors
