# Core
numpy==1.26.4
pandas==2.3.3
scikit-learn==1.7.2
matplotlib==3.10.7

# Tracking
mlflow==3.4.0

# TensorFlow (TextCNN) – version macOS Metal déjà utilisée
tensorflow-macos==2.16.2

# PyTorch + Transformers (BERT, en mode PyTorch pur)
torch>=2.2
transformers==4.56.2
accelerate>=0.26
tokenizers==0.22.1